<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>2cdad002-3f40-47c8-9827-80f5b9beaf52</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>7ad6be47-2daf-45e4-9a42-fdbbccd0f895</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11633520</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11633524</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-6017ADD9-62B1-4F63-9505-D7E87A731A5C</Id>
        <Name>AdMediator_BFF56C</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11633521</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11633525</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-435E4ED7-56E4-4D04-89E3-6B10B65FE03F</Id>
        <Name>AdMediator_93C6F9</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11633522</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11633526</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-C9226DBE-D8B7-44E3-9B93-A3753915CAF8</Id>
        <Name>AdMediator_5D537D</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11633523</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11633527</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-3FA396F7-ED7E-4389-AFFE-9D1FD741D6E6</Id>
        <Name>AdMediator_096175</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-07-12T10:41:37.7885217Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>